---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import List from '../components/List.astro';
---

<Layout title="Home">
  <main class="max-w-2xl mx-auto">
    <Profile />
    <List />
  </main>
</Layout>
